/* Index Page styles */
/*---------------------------------------------*/

/*

Main Colors
#061B47
#103A92
#3561BF
#688CDA
#BED0F7

Accent color
#6B4600
#DB9101
#FFB932
#FFCD6B
#FFE9BD

*/

/*========================================================================================*/
/*                                     Main page Styles                                   */
/*========================================================================================*/

body {
    margin: 0;
    font-family: 'Anaheim', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Anaheim', sans-serif;
}

/*========================================================================================*/
/*                                   ~~Main page Styles~~                                 */
/*========================================================================================*/

/*========================================================================================*/
/*                                   Page Header Styles                                   */
/*========================================================================================*/

.loginBanner {
    background-color: #FFB932;
    color: #fff;
    font-family: 'Anaheim', sans-serif;
    height: 280px;
    margin: 0px;
    padding: 0;
}

.loginBanner h2 {
    color: #FFF;
    font-size: 96px;
    padding-top: 15px; 
    text-align: center;
}

.loginBanner #error {
    color: #061B47;
    font-family: 'Anaheim', sans-serif;
    font-size: 24px;
    text-align: center;
}

.loginBanner:last-child {
    background-color: #3561BF;
}

/*========================================================================================*/
/*                                 ~~Page Header Styles~~                                 */
/*========================================================================================*/

/*========================================================================================*/
/*                                       Form Styles                                      */
/*========================================================================================*/

#rtnUser, #newUser {
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.6);
    height: 400px;
    max-height: 400px;
    min-height: 185px;
    margin: auto;
    margin-top: 15px;
    padding: 15px 0 0 0;
    width: 900px;
    min-width: 300px;
}

#rtnUser, #newUser {
    position: relative;
    top: -110px;
}

#rtnUser h2, #newUser h2 {
    text-align: center;
    font-family: 'Anaheim', sans-serif;
    font-size: 36px;
}

#signin, #signup {
    height: 350px;
    margin: auto 47.5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: auto;
} /* index.php */

#signin {
    padding-top: 50px; 
}

#signin label, #signin input {
    display: block;
    font-family: 'Anaheim', sans-serif;
    font-weight: 300;
    font-size: 28px;
} /* index.php */

#signin input {
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-bottom: solid 1px #000;
    height: 60px;
    margin: 5px 0;
    outline: none;
    width: 80%;
} /* index.php */

#signin a {
    text-decoration: none;
}

#signin a:hover {
    color: #103A92;
    text-decoration: none;
}

#signup input{
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-bottom: solid 1px #000;
    font-family: 'Anaheim', sans-serif;
    font-size: 28px;
    font-weight: 300;
    display: block;
    height: 40px;
    margin: 5px 0;
    outline: none;
    width: 90%;
} /* index.php */

#signup #First, #signup #Last {
    display: inline-block;
    height: 40px;
    width: 45%;
} /* index.php */

.mybtn {
    background-color: #FFB932;
    border-radius: 3px;
    font-family: 'Anaheim', sans-serif; 
    color: #333;
    font-size: 20px;
    margin: 5px 0;
    padding: 12px 18px;
    text-decoration: none;
    transition: background-color 0.6s;
} /* index.php */

.mybtn:hover {
    background-color: #DB9101;
    transition: background-color 0.6s;
} /* index.php */

/*========================================================================================*/
/*                                     ~~Form Styles~~                                    */
/*========================================================================================*/

/*========================================================================================*/
/*                                     User Name Form                                     */
/*========================================================================================*/

#recoveryHeader {
    background-color: #3561BF;
    height: 90px;
    width: 100%;
}

.usrNmFrm {
    height: 320px;
    margin: 15px auto;
    padding: 8px;
    width: 680px;
}

.usrNmFrm h3 {
    font-family: 'Anaheim', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: 5px 0 10px;
}

.usrNmFrm p {
    font-size: 18px;
    padding: 10px 0 0 0;
}

.usrNmFrm form {
    padding-top: 35px;
}

.usrNmFrm label, .usrNmFrm input {
    display: inline-block;
    font-family: 'Anaheim', sans-serif;
    font-size: 24px;
    padding: 5px;
}

.usrNmFrm input {
    margin-left: 5px;
    margin-right: 10px;
    padding: 0;
    width: 320px;
}

.usrNmFrm .mybtn {
    border-radius: 25px;
    padding: 6px 24px;
}

.usrNmFrm a {
    background-color: #688CDA;
    border-radius: 30px;
    color: #FFF;
    display: inline-block;
    font-family: 'Anaheim', sans-serif;
    font-size: 20px;
    margin: 5px 0 5px 10px;
    padding: 6px 28px;
    text-decoration: none;
    transition: background-color 0.6s;
}

.usrNmFrm a:hover {
    background-color: #3561BF;
    color: #FFF;
    text-decoration: none;
    transition: background-color 0.6s;
}

.usrNmFrm #entryError p {
    color: #AD0606;
    font-family: 'Anaheim', sans-serif;
}

/*========================================================================================*/
/*                                   ~~User Name Form~~                                   */
/*========================================================================================*/

/* ---- index CSS media queries ---- */

@media screen and (max-width: 1240px) {

/*========================================================================================*/
/*                                   Page Header Styles                                   */
/*========================================================================================*/

    .loginBanner {
        background-color: #FFB932;
        color: #fff;
        font-family: 'Anaheim', sans-serif;
        height: 230px;
        margin: 0px;
        padding: 0;
    }

    .loginBanner h2 {
        color: #FFF;
        font-size: 72px;
        padding-top: 10px; 
        text-align: center;
    }

    .loginBanner:last-child {
        background-color: #3561BF;
    }

/*========================================================================================*/
/*                                 ~~Page Header Styles~~                                 */
/*========================================================================================*/

/*========================================================================================*/
/*                                       Form Styles                                      */
/*========================================================================================*/

    #rtnUser, #newUser {
        height: 300px;
        max-height: 300px;
        min-height: 185px;
        margin-top: 5px;
        width: 750px;
        min-width: 200px;
    }
    
    #newUser {
        height: 420px;
        max-height: 420px;
    }

    #rtnUser, #newUser {
        position: relative;
        top: -130px;
    }
    
    #rtnUser h2, #newUser h2 {
        text-align: center;
        font-family: 'Anaheim', sans-serif;
        font-size: 30px;
        padding-top: 5px;
    }

    #signin, #signup {
        height: 280px;
        margin: auto 47.5px;
        padding: 0;
        width: auto;
    } /* index.php */

    #signin {
        padding-top: 10px; 
    }
    
    #signup {
        height: 350px;
    }

    #signin input {
        display: block;
        font-family: 'Anaheim', sans-serif;
        font-weight: 300;
        font-size: 22px;
    } /* index.php */

    #signin input {
        height: 40px;
        margin: 5px 0;
        outline: none;
        width: 80%;
    } /* index.php */

    #signup input{
        font-size: 22px;
        font-weight: 300;
        display: block;
        height: 40px;
        margin: 5px 0;
        outline: none;
        width: 90%;
    } /* index.php */

    #signup #First {
        margin-right: 8px;
    }
    
    #signup #First, #signup #Last {
        display: inline-block;
        height: 40px; 
        width: 45%;
    } /* index.php */

/*========================================================================================*/
/*                                     ~~Form Styles~~                                    */
/*========================================================================================*/
    
/*========================================================================================*/
/*                                     User Name Form                                     */
/*========================================================================================*/

    #recoveryHeader {
        height: 70px;
    }

/*========================================================================================*/
/*                                   ~~User Name Form~~                                   */
/*========================================================================================*/
    
}

@media screen and (max-width: 760px) {
    
/*========================================================================================*/
/*                                   Page Header Styles                                   */
/*========================================================================================*/

    .loginBanner {
        height: 90px;
    }

    .loginBanner h2 {
        font-size: 56px;
    }

/*========================================================================================*/
/*                                 ~~Page Header Styles~~                                 */
/*========================================================================================*/

/*========================================================================================*/
/*                                       Form Styles                                      */
/*========================================================================================*/

    #rtnUser, #newUser {
        box-shadow: none;
        height: 280px;
        max-height: 280px;
        min-height: 185px;
        margin-top: 5px;
        width: 100%;
    }
    
    #newUser {
        height: 420px;
        max-height: 420px;
    }

    #rtnUser, #newUser {
        position: relative;
        top: 0px;
    }
    
    #rtnUser h2, #newUser h2 {
        text-align: center;
        font-family: 'Anaheim', sans-serif;
        font-size: 30px;
        padding-top: 5px;
    }

    #signin, #signup {
        height: 230px;
        margin: auto 15px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        width: auto;
    } /* index.php */

    #signin {
        padding-top: 10px; 
    }
    
    #signup {
        height: 280px;
    }

    #signin input {
        display: block;
        font-family: 'Anaheim', sans-serif;
        font-weight: 300;
        font-size: 14px;
    } /* index.php */

    #signin input {
        height: 24px;
        margin: 10px 0;
        outline: none;
        width: 80%;
    } /* index.php */

    #signup input{
        font-size: 14px;
        font-weight: 300;
        display: block;
        height: 24px;
        margin: 10px 0;
        outline: none;
        width: 90%;
    } /* index.php */

    #signup #First {
        margin-right: 8px;
    }
    
    #signup #First, #signup #Last {
        display: inline-block;
        height: 24px; 
        width: 45%;
    } /* index.php */
    
    .mybtn {
        background-color: #FFB932;
        border-radius: 3px;
        font-family: 'Anaheim', sans-serif; 
        color: #333;
        font-size: 18px;
        margin: 5px 0;
        padding: 6px 9px;
    } /* index.php */

/*========================================================================================*/
/*                                     ~~Form Styles~~                                    */
/*========================================================================================*/
    
/*========================================================================================*/
/*                                     User Name Form                                     */
/*========================================================================================*/

    #recoveryHeader {
        height: 50px;
    }

/*========================================================================================*/
/*                                   ~~User Name Form~~                                   */
/*========================================================================================*/
    
}

/*---------------------------------------------*/